---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
    <div class="logo">
      <img src="{{ site.baseurl }}/img/logo-500px.png" width="300" alt="Cityzen Data">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="main-heading">

                  <h1>{{ page.description }}</h1>
                  <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>

<hr>